{% extends 'admin_navbar.html' %}

{% block title %} Books {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
    <div class="container mt-4 w-50">
    <h3>Are you sure you want to delete {{shipments.shipment_name}} </h3>
    <br>
    <form action="/all_shipments/delete_{{shipments.id}}/" method="POST">

        {% csrf_token %}
        <a class="btn btn-warning" href="/all_shipments/">Cancel</a>

        <input class="btn btn-danger" type="submit" name="Confirm">
    </form>
</div>
{% endblock %}
